<nav>
    <div class="title-div">
        <a routerLink="/"><h1 class="title">Band Tracker</h1></a>
    </div>
    <div class="links-div">
        <div class="main-links-div">
            <div class="link">
                <button><a routerLink="/">Home</a></button>
            </div>
            <div class="link">
                <button><a routerLink="/shows">Shows</a></button>
            </div>
            <div class="link">
                <button><a routerLink="/artists">Artists</a></button>
            </div>
            <div class="link">
                <button><a routerLink="/venues">Venues</a></button>
            </div>
            <div class="link">
                <button><a routerLink="/your-shows">Your Shows</a></button>
            </div>
        </div>
        <div class="login-div">
            <div class="link">
                <button><a routerLink="/login">Login</a></button>
            </div>
            <div class="link">
                <button><a routerLink="/register">Register</a></button>
            </div>
        </div>
    </div>
</nav>